## Cleaning
Drop column with extera catigorical data or data that just give bias to prefered players: usage, college year, ht, num, pfr, year, rec rank, pick, pik drafted, gbpm, offensive gdbm, defensive gdbm, type, Recruit Rank

In [12]:
#Alisha 
import numpy as np
import pandas as pd
import matplotlib.pylab as plt
%matplotlib inline

pd.set_option('display.max_columns', 70)

file_path = 'trainingData/CollegeBasketballPlayers2009-2021.csv'
dfBasketball = pd.read_csv(file_path)

# Inspect some of the data
dfBasketball.head()

dfBasketball.info()

dfBasketballTraining = dfBasketball.drop(columns=['usg','yr','ht', 'num', 'pfr', 'year', 'Rec Rank', 'pick', 'gbpm', 'ogbpm', 'dgbpm', 'type'])

dfBasketballTraining.info()

C:\Users\HP\AppData\Local\Temp\ipykernel_1072\454714667.py:10: DtypeWarning: Columns (27) have mixed types. Specify dtype option on import or set low_memory=False.
  dfBasketball = pd.read_csv(file_path)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61061 entries, 0 to 61060
Data columns (total 66 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   player_name                      61061 non-null  object
 1   team                             61061 non-null  object
 2   conf                             61061 non-null  object
 3   GP                               61061 non-null  int64
 4   Min_per                          61061 non-null  float64
 5   Ortg                             61061 non-null  float64
 6   usg                              61061 non-null  float64
 7   eFG                              61061 non-null  float64
 8   TS_per                           61061 non-null  float64
 9   ORB_per                          61061 non-null  float64
 10  DRB_per                          61061 non-null  float64
 11  AST_per                          61061 non-null  float64
 12  TO_per                           61061 non-null  float64
 13  FTM                              61061 non-null  int64
 14  FTA                              61061 non-null  int64
 15  FT_per                           61061 non-null  float64
 16  twoPM                            61061 non-null  int64
 17  twoPA                            61061 non-null  int64
 18  twoP_per                         61061 non-null  float64
 19  TPM                              61061 non-null  int64
 20  TPA                              61061 non-null  int64
 21  TP_per                           61061 non-null  float64
 22  blk_per                          61061 non-null  float64
 23  stl_per                          61061 non-null  float64
 24  ftr                              61061 non-null  float64
 25  yr                               60767 non-null  object
 26  ht                               60950 non-null  object
 27  num                              56275 non-null  object
 28  porpag                           61061 non-null  float64
 29  adjoe                            61061 non-null  float64
 30  pfr                              61061 non-null  float64
 31  year                             61061 non-null  int64
 32  pid                              61061 non-null  int64
 33  type                             61061 non-null  object
 34  Rec Rank                         18470 non-null  float64
 35  ast/tov                          56334 non-null  float64
 36  rimmade                          54732 non-null  float64
 37  rimmade+rimmiss                  54732 non-null  float64
 38  midmade                          54732 non-null  float64
 39  midmade+midmiss                  54732 non-null  float64
 40  rimmade/(rimmade+rimmiss)        50951 non-null  float64
 41  midmade/(midmade+midmiss)        50676 non-null  float64
 42  dunksmade                        54732 non-null  float64
 43  dunksmiss+dunksmade              54732 non-null  float64
 44  dunksmade/(dunksmade+dunksmiss)  27551 non-null  float64
 45  pick                             1435 non-null   float64
 46  drtg                             61016 non-null  float64
 47  adrtg                            61016 non-null  float64
 48  dporpag                          61016 non-null  float64
 49  stops                            61016 non-null  float64
 50  bpm                              61016 non-null  float64
 51  obpm                             61016 non-null  float64
 52  dbpm                             61016 non-null  float64
 53  gbpm                             61016 non-null  float64
 54  mp                               61023 non-null  float64
 55  ogbpm                            61016 non-null  float64
 56  dgbpm                            61016 non-null  float64
 57  oreb                             61023 non-null  float64
 58  dreb                             61023 non-null  float64
 59  treb                             61023 non-null  float64
 60  ast                              61023 non-null  float64
 61  stl                              61023 non-null  float64
 62  blk                              61023 non-null  float64
 63  pts                              61023 non-null  float64
 64  Unnamed: 64                      56377 non-null  object
 65  Unnamed: 65                      61016 non-null  float64
dtypes: float64(49), int64(9), object(8)
memory usage: 30.7+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61061 entries, 0 to 61060
Data columns (total 54 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   player_name                      61061 non-null  object
 1   team                             61061 non-null  object
 2   conf                             61061 non-null  object
 3   GP                               61061 non-null  int64
 4   Min_per                          61061 non-null  float64
 5   Ortg                             61061 non-null  float64
 6   eFG                              61061 non-null  float64
 7   TS_per                           61061 non-null  float64
 8   ORB_per                          61061 non-null  float64
 9   DRB_per                          61061 non-null  float64
 10  AST_per                          61061 non-null  float64
 11  TO_per                           61061 non-null  float64
 12  FTM                              61061 non-null  int64
 13  FTA                              61061 non-null  int64
 14  FT_per                           61061 non-null  float64
 15  twoPM                            61061 non-null  int64
 16  twoPA                            61061 non-null  int64
 17  twoP_per                         61061 non-null  float64
 18  TPM                              61061 non-null  int64
 19  TPA                              61061 non-null  int64
 20  TP_per                           61061 non-null  float64
 21  blk_per                          61061 non-null  float64
 22  stl_per                          61061 non-null  float64
 23  ftr                              61061 non-null  float64
 24  porpag                           61061 non-null  float64
 25  adjoe                            61061 non-null  float64
 26  pid                              61061 non-null  int64
 27  ast/tov                          56334 non-null  float64
 28  rimmade                          54732 non-null  float64
 29  rimmade+rimmiss                  54732 non-null  float64
 30  midmade                          54732 non-null  float64
 31  midmade+midmiss                  54732 non-null  float64
 32  rimmade/(rimmade+rimmiss)        50951 non-null  float64
 33  midmade/(midmade+midmiss)        50676 non-null  float64
 34  dunksmade                        54732 non-null  float64
 35  dunksmiss+dunksmade              54732 non-null  float64
 36  dunksmade/(dunksmade+dunksmiss)  27551 non-null  float64
 37  drtg                             61016 non-null  float64
 38  adrtg                            61016 non-null  float64
 39  dporpag                          61016 non-null  float64
 40  stops                            61016 non-null  float64
 41  bpm                              61016 non-null  float64
 42  obpm                             61016 non-null  float64
 43  dbpm                             61016 non-null  float64
 44  mp                               61023 non-null  float64
 45  oreb                             61023 non-null  float64
 46  dreb                             61023 non-null  float64
 47  treb                             61023 non-null  float64
 48  ast                              61023 non-null  float64
 49  stl                              61023 non-null  float64
 50  blk                              61023 non-null  float64
 51  pts                              61023 non-null  float64
 52  Unnamed: 64                      56377 non-null  object
 53  Unnamed: 65                      61016 non-null  float64
dtypes: float64(42), int64(8), object(4)
memory usage: 25.2+ MB

fill in missing values for dunks made

In [3]:
#Josh

fill in missing values for dunks attempt

In [4]:
#Josh

fill in missing values for midrange shots made

In [5]:
#Heather

fill in missing values for midrange attempts

In [6]:
#Heather

fill in missing values for rim shots made

In [1]:
#Alisha 

#Kaggle says 10% is null
missing_values = dfBasketball['rimmade'].isnull().sum()
print(f"Number of missing values in rimmade column: {missing_values}")

NameError: name 'dfBasketball' is not defined

fill in missing values for rim shots attempted

In [8]:
#Alisha

check for players still missing over 15% of the data and drop

In [9]:
#Steve

check and fill any remaining nulls in the columns

In [10]:
#Steve

## Transform